<h1>New contact_info</h1>

<% form_for(@contact_info) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contact_infos_path %>
