- title  " Modifier mon profil "
= link_to 'Annuler', civil_statuses_path
- semantic_form_for @civil_status do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit 'Update'


