= f.label :localisation_id, "Choisir le lieu de travail"
%br/
- params = (defined?(optional) ? { :include_blank => optional } : { :include_blank => "n/a" })
= f.collection_select(:localisation_id, Localisation.ordered, :id, :name, params)
%br/
%span.help Si le lieu n'est pas encore référencé, remplir le champ ci-dessous.
%br/
%span.help exemple: [Antananarivo]
%br/
= f.label :my_localisation, "Nouveau base du poste"
%br/
= f.text_field :my_localisation
