<h1>New education_information</h1>
<% form_for([@eduinfo.profile, @eduinfo]) do |f| %>
  <%= f.error_messages %>
  <%= render f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', education_informations_path %>