<h3><%= note.title %></h3>
<div class="extract">
  <p class="description">
    <%= truncate(note.description, 200) %><br />
  </p>
  <p class="small text_right" align="right">
    <%= link_to 'En savoir plus', note %>
  </p>
</div>