<h3><%= offering.object %></h3>
<div id="extract">
  <p class="condition" align ="justify">
    <%= truncate(offering.conditions, 200) %><br />
  </p>
  <p class="small text_right" align="right">
    <%= link_to 'En savoir plus', offering %>
  </p>
</div>
