nbproject
log/development.log
/*.log
doc/*
config/database.yml
test/*
.DS_Store
*.swp
*.swo
tmp/**
db/.mysql
config/sphinx.yml
public/images/uploaded
db/schema.rb
log/development.log
public/offerings
*~
rerun.txt
