nbproject
log/*.log
log/*
doc/*
config/database.yml
test/*
.DS_Store
*.swp
*.swo
tmp/**
db/.mysql
config/sphinx.yml
public/images/uploaded
db/schema.rb
public/offerings
*~
rerun.txt
config/initializers/site_keys.rb
solr/*
solr/data/*
vendor/plugins/haml/init.rb

.rvmrc
