<%= f.label :function_id, "Choisir la fonction" %><br />

<% params = (defined?(optional) ? { :include_blank => optional } : { :include_blank => "n/a" }) %>

<%= f.collection_select(:function_id, Function.ordered, :id, :name, params) %>
<br />
<span class="help">Si la fonction n'est pas encore référencé, remplir le champ ci-dessous.</span><br />
<span class="help">exemple: [Assistant de direction]</span><br />
<%= f.label :my_function, "Nouvelle Fonction" %><br />
<%= f.text_field :my_function %>