= f.label :function_id, "Choisir le titre du poste"
%br/
- params = (defined?(optional) ? { :include_blank => optional } : { :include_blank => "n/a" })
= f.collection_select(:function_id, Function.ordered, :id, :name, params)
%br/
%span.help Si la fonction n'est pas encore référencé, remplir le champ ci-dessous.
%br/
%span.help exemple: [Assistant de direction]
%br/
= f.label :my_function, "Nouveau titre de poste "
%br/
= f.text_field :my_function
