<h1>New comment</h1>
<%form_for ([@comment.post, @comment], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
   <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
