<%= f.label :contract_id, "Choisir le type de contrat" %><br />
<% params = (defined?(optional) ? { :include_blank => optional } : { :include_blank => "n/a" }) %>

<%= f.collection_select(:contract_id, Contract.ordered, :id, :name, params) %>
<br />
<span class="help">Si le type de contrat n'est pas encore référencé, remplir le champ ci-dessous.</span><br />
<span class="help">exemple: [Stage de 6 mois]</span><br />
<%= f.label :my_contract, "Nouveau contrat" %><br />
<%= f.text_field :my_contract %>