<p>
  <b>Title:</b>
  <%=h @other_skill.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @other_skill.description %>
</p>


<%= link_to 'Edit', edit_other_skill_path(@other_skill) %> |
<%= link_to 'Back', other_skills_path %>