<h3><%= job.function.name %></h3>
<div class="extract">
  <p><b>Ref:</b>&nbsp;<%=h job.ref %></p>
  <p class="description">
    <%= truncate(job.description, 200) %><br />
  </p>
  <p class="small text_right" align="right">
    <%= link_to 'En savoir plus', job %>
  </p>
</div>