<h1>New job</h1>
<% semantic_form_for ([@job.compagny,@job]) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', compagny_path(@job.compagny) %>