body{ 
  background-color:#000000;
  background-image: url('../images/a.png');
  background-attachment:fixed;
  #b9d3cc;
 /* #9AB5:4F;*/
  font-family: Verdana, Arial;
  font-size: 12px;
  margin-left:10em;
  margin-right:10em;
  background-position:center;
}

}
.active a{
  color:#B5463F;
}
a img {
  border: none;
}
a:hover{
  color: #B5463F;
 }

a {
   color:#234A73;
   font-weight:bold;      
   text-decoration:none;

  }
a.selected{
  background-repeat:no-repeat;
  padding-right:3em;
  padding-left:3em;
  padding-bottom:5em;
  color: #254D78;
}
.abeille{
  float:right;
  margin-left:10em;
}
#contenu{
  background-color:white;
}

#banner{
    #ffb201; 
    width:100%;
    font-size: 120%;
    height:7%;
}
#connexion-text{
  font-weight:bold;
  color:#006666;
}
.navigation{
  height:2%;
  margin-bottom:0.3em;
  width:100%;
  float:left;
}
.navigation a{
  color:white;
  background-color:#486688; 
  background-repeat:no-repeat;
  padding-right:2.7em;
  padding-left:2.7em;
  padding-bottom:0.5em;
  padding-top:0.5em;
  font-size:90%;

}  
.navigation a:hover{
  background-color:#D3D3D3;
  color:black;
}
.navigation a.selected{
    /*
     * /background-image: url('../images/bgblanc.png');   
*/  color: #486688;
    background-color:white;
    padding-bottom:0.5em;
}

#search{
   font-size:50%;
   font-weight:bold;
   color: white;
   padding-top:1em;
}

#home{
  color:#766749;
}
#contenu2{
  background-color: white;
  width:100%;
  padding-bottom:0.5em;
  margin-bottom:-1em;
  margin-top:3.2em;
  height:15%;
}
#contenu3{
  background-color:white;
}
.nav a{
  color:#234A73;
}
.nav a:hover{
  color:black;
}
.nav{
  margin-top:1em;
  margin-bottom:0.2em;
  font-size:13;
  color:black;
  background-color:#486688;
  float:right;
}
.account a{
  color : white;
  background-color:transparent;
  padding-right:1em;
  padding-left:1em;
}
#tag{
    background-color: #EEE;
    height:20%;
    width:20%;
    margin-bottom:0.1em;
}

.contact_us{
   color:white;
   background-repeat:repeat;
   background-image: url('../images/bg_footer.png');  
   width:50%;
   height: 100px;
   float:left;
   text-align:center;
}
#acceuil{
  float:left;
  margin-right:0.5em;
  margin-bottom:1em;
  list-style-type:none;
  background-attachment:fixed;
  background-repeat:no-repeat;

}
#link_cv{
  float:left;
  margin-right:0.5em;
  list-style-type:none;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

#link_offre{
  float:left;
  margin-right:0.5em;
  list-style-type:none;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

#edit_account{
  background-color:#433A29;
  margin-left:0.2em;
  margin-right:0.2em;
  margin-right:0.5em;
  background-attachment:fixed;
  background-repeat:no-repeat;

}
#connected{
   float:left;
   list-style-type:none;
   margin-right:0.5em;


}
#profil{
   list-style-type:none;
   background-attachment:fixed;
   background-repeat:no-repeat;
   margin-right:3em;
   float:left;


}
#subscribe{
  list-style-type:none;
  float:left;
}
#create_cv{
  text-align:right;
}
.pagetitle{
  font-size:18;
  text-align:right;
  float:right;
  width:13%;
}
.title{
  color:#486688;
  font-weight:bold;
  font-size:17;
  float:left;
  margin-left:15em;
  margin-right:20em;
  text-align:center;
  font-weight:bold;

}
.summary label{
  color:black;
  text-align:left;
  list-style-type:none;
}
.content{
  margin-top:2.9em;
  background-color:white;
  width:80%;
  float:left;
}
#logo{
  float:left;
  width:30%;
  margin-bottom:0.1em;
  margin-top:-2em;
}
#login{
  background-repeat:repeat;
  margin-left:25em;
  margin-right:30em;
}
.label{
  margin-right:17em;
  font-weight:bold;
}
#footer{
  margin-top:-0.1em;
 
}
.about{
  background-repeat:repeat;
  color :white;
  width:50%;
  float:left;
  height: 100px;
  text-align:center;
  background-image: url('../images/bg_footer.png');  
 }
.contentinfo{
  color:#D3D3D3;
  }


.child_link a{
  color:#254D78;
}
.remove_link a{
  color:#B5463F;
}
#logo{
  width: 100%;
}
.field{
  padding-bottom:1em;
  margin-left:110em;
  float:left;
}

.slogan{
  color: white;
}
#head{
  background:; 
  #254d78;
}

.breadcrumbs{
  color: black;
  float:left;
  margin-right:0.3em;
}
#account
{
  color:black;
  font-size:100%;
  float: left;
}
#account.a{
  color: black;
}

.textaccount{
  text-align:right;
  font-size:10;
  font-weight:bold;
  color:#ffb201;
}
.text a{
  color :white;
} 

#form_cv{
  width: 300px;
}

#admin_link{
 }
#link{
  background-color:#c0c0c0;
  width:250px;
  float: right; 
  margin-left:1em;
  margin-right:0.5em;
}
#civil_status{
}
.job{
  padding-left:2em;
  padding-right:2em;
  margin-left:20em;
  background-image: url('../images/bg_transp.png');
  margin-right:20em;
  margin-bottom:-1em;
}

.job a{
  color: white;
  background-color:transparent;
}
.function{
  font-weight:bold;
  font-size:13;
  color: black;
}
#flash_error {
  color :#B5463F;
  padding: 5px 8px;
  margin: 10px 0;
  margin-bottom:0.1em;
  margin-left:1em;

}

.flash_notice {
  margin-top:0.5em;
  margin-left:20em;
  margin-right:30em;
  color:black;
  font-size:100%;
  font-weight:bold;
  background-color: #9AB54F;
  float:left;
}

#flash_error {
  color:#B5463F;
  background-color: #FCC;
  border: solid 1px #4C4338;
}

.clear {
  clear: both;
}

.child{
  text-align: left;
}

.pub{
  margin-left:8em;
  margin-bottom:2em;
}  
.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: solid  1px #B5463F;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color:#B5463F;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.fields {
  margin: 8px 0;
}

.child_link{
  color:#B5463F;
}
