body {
  background-color:#766749;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  width:1280 e;
  Height:900 em;
}

a img {
  border: none;
}

a {
  color:;
}
#banner{
  margin-top:2em; 
  margin-bottom:1em;
  margin-left:1em;
  width:98%;
}  
#banner1{
  #background-color:#6E212E;
  width:100%;
  height:30px;
  float:left;
  margin-bottom:9.7em;
}
#contenu{
  margin-left:1em;
  background-color:#9AB54F;
}
#navigation{
    color:white; 
    background-color:#766749;
    width:38%;
    float:left;
    margin-bottom:0.1em;
    margin-top:0.1em;
    margin-left:0.5em;
}
#search{
    background-color:#9AB54F;
    float:right;
    margin-bottom:0.1em;
    margin-top:0.1em;
    margin-left:0.5em;
  }
}
.account{
    margin-bottom:0.1em;
    margin-top:0.1em;
    margin-left:10em;
}
#contenu2{
  background-color:white;
  width:60%; 
  margin-left:0.2em;
  margin-top:0.1em;
  margin-bottom:0.1em;
  float:left;
}
#tag{
    background-color: #EEE;
    height:20%;
    width:20%;
    margin-bottom:0.1em;
}

#footer{
 margin-left:1em;
 background-color:#766749;
 clear:both;
}
#new{
   border-top: 4px solid #766749;
   background-color: #433A29;
   width:33%;
   float:left;
   height: 100px;
   margin-left:0.1em;
}
#contact_us{
   border-top: 4px solid #766749;
   background-color:#433A29; 
   width:33%;
   float:left;
   height: 100px;
   margin-left:0.1em;
}
#about{
  border-top: 4px solid #766749;
  background-color:#433A29; 
  width:33%;
  float:left;
  height: 100px;
}
#contentinfo{
  margin-left:1em;
  width:100%
}

.title{
   color:#9AB54F;
   font-size:200%;
   font-weight:bold;
   margin-left:0.4em;
   margin-bottom:0.1em;
   float:left;
}

.link_cv {
  position: block;
  line-height: 1.6em;
  padding-left: 0px;
  margin-left: 3px;
  float:right;
  margin-bottom: 5px;
  width: 100px;
}
#form_cv{
  width: 300px;
}

#admin_link{
 }
#link{
  background-color:#c0c0c0;
  width:250px;
  float: right; 
  margin-left:1em;
  margin-right:0.5em;
}
#civil_status{
}
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.child{
  text-align: left;
}


.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.fields {
  margin: 8px 0;
}
