<p>
  <b>Name:</b>
  <%=h @further_info.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @further_info.description %>
</p>


<%= link_to 'Edit', edit_further_info_path(@further_info) %> |
<%= link_to 'Back', further_infos_path %>