<div class="child">
  <p>
    Interest <%= f.label :description %><br />
    <%= f.text_area :description, :cols => "50", :rows => "3" %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
