<div class="child">
  <p>
  <%= f.input :description, :input_html => {:cols => 50, :rows => '3'}, :label => "centre d'interet" %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
