<div class="child">
  <p>
  <%= f.input :title, :collection => ["english", "malagasy", "français", "japonais", "italien", "espagnol", "chinois", "allemand", "russe", "arabe"]  %>
  </p>
    <p>
    <%= f.input :level, :collection => ["maternelle", "avancé", "moyen", "débutant"] %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
