= f.label :field_id, "choisissez votre filière"
%br/
- params = (defined?(optional) ? { :include_blank => optional } : { :include_blank => "n/a" })
= f.collection_select(:field_id, Field.ordered, :id, :field_name, params)
%br/
%span.help Si le filière n'est pas encore référencé, remplir le champ ci-dessous.
%br/
%span.help exemple: [Genie civil]
%br/
= f.label :my_field, "nouveau filiere"
%br/
= f.text_field :my_field
